.about{
    display: flex;
    flex-direction: column;
    width: 50%;
}
@media only screen and (max-width: 768px) {
    .about {
        width: 80%;
    }
}
.cursor{
    font-weight: bold;
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}
@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}