@page "/"

<div class="about">
<h3>Hello, My name is Kola Campbell.</h3>
<p>Software engineer at The New York Stem Cell Foundation Research Institute. Masters Degree in Computer Science, undergraduate degree in Electrical Engineering.</p>
    <p class="last-line">Typescript and .NET enthusiast<span class="cursor">|</span></p>
</div>
