a {
    color: white;
    text-decoration: none; /* no underline */
  }
a:hover{
    color: yellow;
    text-decoration: none; /* no underline */
}
.container{
    display: flex;
    font-size: 1.5rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.container > div{
    magrin:10px;
}
img{
    zoom:0.15;
    background-color: white;
    filter: contrast(76.5%);
    border:0;
    transition: all 0.3s ease-in;
}
img:hover{
    background-color: yellow;
}
@media only screen and (max-width: 768px) {
    .container {
        font-size: 1.2rem;
    }
    img {
        zoom: 0.10;
    }
}
