@page "/Contact"
@using Portfolio.Services
@inject State State
@implements IDisposable
<div class="container">
    <a href = "mailto: kolawole.campbell@gmail.com">kolawole.campbell@gmail.com</a>
    @if (!((bool) State.NavOpen))
    {
        <div class="images">
            <a href="https://twitter.com/_kcola" target="_blank"><img src="/images/twitter-logo-on-black-background.png"/></a>
            <a href="https://linkedin.com/in/kola-campbell-a7515179/" target="_blank"><img src="/images/linkedin.png"/></a>
        </div>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        State.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        State.OnChange -= StateHasChanged;
    }
}