@page "/"
@using Portfolio.Services
@implements IDisposable
@inject State State

<div class="about">
    <p style="font-weight: bold">Sup, my name is Kola Campbell.</p>
    <p>Software engineer at Microsoft.</p>
    <p class="last-line">Typescript and .NET enthusiast
        @if (!State.NavOpen.Value)
        {
            <span class="cursor">|</span>
        }
    </p>
</div>

@code{
    protected override void OnInitialized()
    {
        State.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        State.OnChange -= StateHasChanged;
    }

}
