ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    font-weight: bold;
    font-size: 2rem;
    padding: 0;
}
li{
    color:white;
    list-style: none;
}
li:hover{
    cursor: pointer;
}